/* section{
    position: absolute;
  } */
      body{
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        padding: 0;
        margin: 0;
        background: grey;
      }
      .container{
        margin: 0;
        padding: 0;
      }
      *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      #check, #check2{
        display: none;
      }
      .checkbtn{
        display: block;
      }
      .menu{
        display: none;
      }
      /* nav{
        display: none;
      } */
      .nav-bar{
        padding: 1.4em;
        place-content: space-between;
        display: flex;
        background: white;
        /* position: sticky; */
      }
      .join{
        text-decoration: none;
        color: grey;
        font-size: 1.5rem;
      }
      nav{
        position: fixed;
        height: 100vh;
        background: white;
        width: 50%;
        left: 0;
        line-height: 3rem;
        top: 80px;
        left: -100%;
        transition: all .5s ;
        z-index:999;
      }
      a{
        text-decoration: none;
        color: grey;
        font-size: 1.1em;
      }
     nav ul button{
        padding: .8em 2em;
        margin-left: 1em;
        background: green;
        border: none;
        color: white;
        border-radius: .5em;
        text-transform: capitalize;
      }
      nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
      }
      nav ul li{
        padding:0 1em;
      }
      nav ul li a:hover{
        color: darkgray;
      }
      .business a{
        color: green;
      }
      nav ul button a{
        color: white;
      }
      nav ul button:hover{
        color: white;
        background: lightgreen;
      }
      .sign{
        display: none;
      }
      .white{
        display: none;
      }
      #check:checked ~ nav{
       left: 0;
    }
    .checkbtn{
      color: grey;
      line-height: 2em;
      font-size: 1.2em;
    }
    .section1 .outer{
          color: white;
          /* margin-left: 1em; */
         /* margin-top: 3em; */
          font-size: 1.2em;
          padding: 1.5em;
        }
       
         input{
          /* margin-left: 1.7em; */
           display: block;
          margin-top: 2em;
        } 
        .mobile-app{
          display: block;
          padding-top:.8em ;
          padding-bottom:.8em;
          padding-right: 12.3em;
          border: none;
          border-radius: .3em;
        }
        .button{
          background: lightgreen;
          padding: .8em 11em;
          border: none;
          border-radius: .3em;
          color: white;
          text-transform: capitalize;
        } 
    .div2{
          /* position: absolute; */
          /* left: 0; */
          /* top: 5.8rem; */
          width:100%;
          height: 20rem;
          animation: animate 15s ease-in-out infinite;
          background-size: cover;
          background-position: center;
          background: darkgreen;
        }
         .popular{
          display: none;
        }
        .section2{
          background: white;
          padding:0.7em 4em;
          display:grid;
          grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
          /* grid-gap: 2.5em; */
          align-items: center;
        }
        .paypal{
          display: none;
        }
        .trust{
          display: none;
        }
      @media only screen and (min-width:603px){
       /* nav{
            display: none;
        } */
        #check2{
        display: none;
      }
      .checkbtn{
      color: white;
      line-height: 2em;
      font-size: 1.2em;
    }
      #check2:checked ~ nav{
          left: 0;
      }
    nav{
        position: fixed;
        height: 100vh;
        background: white;
        width: 50%;
        left: 0;
        line-height: 3rem;
        top: 80px;
        left: -100%;
        transition: all .5s ;
      }
      
        .nav-bar{
            display: flex;
            justify-content:space-between;
            background: darkgreen;
            position: relative;
          }
        .sign{
            display: flex;
            position:absolute;
            right:8rem;
             }
          .black{
            display: none;
              }
        .white{
            display: flex;
            position:absolute;
            left:0;
            margin-top: -1.5em;
            /* margin-right: 25rem;
            margin-left: -2.6rem;
            margin-top:-1.8rem; */
        }
         .sign{
            /* margin-left:-8em; */
            color: white;
            margin-top: .5em;
            margin-right: -1.6em;
        }
        .join{
            color: white;
            margin-top: .4em;
            font-size: 1em;
            border-radius: .5em;
            border: 1px solid white;
            margin-bottom: auto;
            padding: .2em 1em;
         }
         .join:hover{
            color: white;
            background:lightgreen ;
        }
        .section1 .outer{
          color: white;
          padding: 1em 2em;
          font-size: 1.8em;
        }
        .mobile-app{
          display: block;
          padding-top:.8em ;
          padding-bottom:.8em;
          padding-right: 22.3em;
          border: none;
          border-radius: .3em;
        }
        .button{
          background: lightgreen;
          padding: .8em 16em;
          border: none;
          border-radius: .3em;
          color: white;
        }
        .paypal{
          display: flex;
        }
        .trust{
          display: none;
        }
      }
      @media only screen and (min-width:903px){
        .black, .join,.sign{
          display: none;
        }
        button, .english, .usd{
          display: none;
        }
        .nav-bar{
          display: grid;
          grid-template-columns:200px auto;
          margin: 0;
          /* justify-content: unset; */
        }
       nav{
        display: block;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
       }
      nav ul{
        display: flex;
        margin-top:-2em;
       } 
       .white{
        margin-top: -3em;
       }
       nav ul li a{
        color: white;
       }
      .join-now{
            color: white;
            /* margin-top: .4em; */
            font-size: 1em;
            border-radius: .5em;
            border: 1px solid white;
            margin-bottom: auto;
            padding: .2em 1em;
         }
         .join-now:hover{
            color: white;
            background:lightgreen;
        }
        .active a{
          color: white;
        }
        .checkbtn{
          line-height: .7em;
        }
        .section1 .outer{
          color: white;
          /* margin-left: 1em; */
          /* margin-top: 6em; */
          font-size: 1.8em;
          padding: 5em 1em;
        }
         input{
          /* margin-left: 1.7em; */
           display:unset;
          /* margin-top: 2em; */
        } 
        .mobile-app{
          display:unset;
          /* padding-top:.8em ; */
          /* padding-bottom:.8em; */
          padding-right: 10em;
          font-size: .7em;
          border: none;
          
        }
        .button{
          background: lightgreen;
          padding: .8em 1em;
          border: none;
          border-radius:0;
          color: white;
          text-transform: capitalize;
          margin-left: -.6em;
          font-size: .7em;
        } 
        .div2{
          /* position: absolute; */
          /* left: 0; */
          /* top: 5rem; */
          width:100%;
          height: 30em;
          animation: animate 15s ease-in-out infinite;
          background-size: cover;
          background-position: center;
          }
          
        @keyframes animate{
          0%,100%{
         background-image: url('fiverr1.jfif' );
          }
          20%{
            background-image: url('fiverr2.jfif');
          }
          40%{
            background-image: url('fiverr3.jfif');
          }
          60%{
            background-image: url('fiverr4.jfif');
          }
          80%{
            background-image: url('fiverr5.jfif');
          }
          }
          .popular{
            display: flex;
            list-style: none;
            margin:1em 0 ;
            color: white;
            
          }
         .popular li a{
          margin-left: .9em;
          color: white;
          border: 1px solid white;
          border-radius: 1em;
          padding: .1em .5em;
          font-size: .5em;
          }
         .popular li a:hover{
          background: white;
          color: black;
         }
      }
      @media only screen and (min-width:1160px){
         .english, .usd{
          display: flex;
        }
        .menu{
          display: none;
        }
        .nav-bar{
          display: grid;
          grid-template-columns:100px 180px auto;
          justify-content: space-between;
          padding-top:3em ;
          font-size: 1.14em;
        }
        .checkbtn{
          display: none;
        }
        .div2 {
          /* position: absolute; */
          /* left: 0; */
          /* top: 5.8rem; */
          width:100%;
          height: 30rem;
          animation: animate 15s ease-in-out infinite;
          background-size: cover;
          background-position: center;
        }
         @keyframes animate{
          0%,100%{
         background-image: url('fiverr1.jfif' );
          }
          20%{
            background-image: url('fiverr2.jfif');
          }
          40%{
            background-image: url('fiverr3.jfif');
          }
          60%{
            background-image: url('fiverr4.jfif');
          }
          80%{
            background-image: url('fiverr5.jfif');
          }
          } 
         .trust{
          display: flex;
          line-height: 4em;
         }
        }